@import url('base.css');

/* tablas.css */
table {
  background-color: var(--color-blanco);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0,0,0,0.05);
}

th {
  background-color: var(--color-secundario);
  color: var(--color-blanco);
  text-align: left;
  padding: 12px;
}

td {
  padding: 10px;
  border-bottom: 1px solid var(--color-gris);
}

tr:nth-child(even) {
  background-color: var(--color-detalle);
}

tr:hover {
  background-color: var(--color-primario);
}
